WarningsAsErrors: "*"

# Disable checks related to LLVM libc development.
# Disable checks related to HLS/FPGA (Intel/Altera).
Checks: >
  *,

  -llvmlibc-*,
  -altera-*,

CheckOptions:
  - { key: readability-function-cognitive-complexity.Threshold, value: 100 }
  - { key: readability-identifier-naming.StructCase, value: lower_case }
  - { key: readability-identifier-naming.FunctionCase, value: lower_case }
  - { key: readability-identifier-naming.VariableCase, value: lower_case }
  - { key: readability-identifier-naming.MacroDefinitionCase, value: UPPER_CASE }
  - { key: readability-identifier-naming.EnumConstantCase, value: UPPER_CASE }
  - { key: readability-identifier-naming.ConstexprVariableCase, value: CamelCase }
  - { key: readability-identifier-naming.GlobalConstantCase, value: UPPER_CASE }
  - { key: readability-identifier-naming.StaticConstantCase, value: UPPER_CASE }
